header {
    display: flex;
    height: 100px;
    align-items: center;
    justify-content: space-between;
    padding-left: 40px;
    padding-right: 40px
}

nav {
    display: flex;
    justify-content: space-between;
    width: 400px
}


footer {
    display: flex;
    height: 100px;
    align-items: center;
    justify-content: space-between;
    padding-left: 40px;
    padding-right: 40px
}

main {
  width: 1200px;
  height: 400px;
  background-image: url("/img/oldlady-background.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100%;
  margin-left: 60px
  
}