header {
    display: flex;
    height: 100px;
    align-items: center;
    justify-content: space-between;
    padding-left: 40px;
    padding-right: 40px
}

nav {
    display: flex;
    justify-content: space-between;
    width: 400px
}


footer {
    display: flex;
    height: 100px;
    align-items: center;
    justify-content: space-between;
    padding-left: 40px;
    padding-right: 40px
}

#contacts{
    display: flex;
    justify-content: center;
}

#review{
    display: flex;
    justify-content: center;
}

