@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;400&display=swap');

html, a, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

body {
    max-width: 980px;
    margin: auto;
}

:root {
    font-family: 'Montserrat', sans-serif;
    --main-color:black;
    --accent-color:#ED4339;
    font-weight: 100
}

header #logo-container{
    display: flex;
    justify-content: center;
}

header #logo {
    width: 10rem;
}

header .top-menu {
    display: flex;
    justify-content: space-around;
}

header .top-menu a {
    font-size: 1rem;
    color: var(--main-color);
    text-transform: uppercase;
    text-decoration: none;
    border: 1px solid transparent;

}

header .top-menu a:hover {
    border: 1px solid crimson;
    height: 18px;
    
}

/* PROBLEM */
header #basket-logo {
    width: 30px;
    height: 20px;
    padding-bottom: 0;

    }

hr {
    height: 0.1px;
    background-color: var(--accent-color);
    border: 0;
    margin-top: 5px;
    margin-bottom: 5px;
}

 @media (min-width: 500px) {
     #top-menu-and-logo {
        display:flex;
        align-items: center;
    }
    
    header .top-menu{
        margin-top: 15px;
    }

    header nav{
        flex: 1;
    }
}

header .banner {
    background-image: url("../img/intro-slider-background.jpg");
    min-height: 350px;
    background-position: center;
    background-size: cover;
    display: flex;
    flex-direction: column;
    
}

#inside-banner{
    background-color: rgba(179, 176, 176, 0.4);
    min-height: 350px;
}

header .banner h1 {
    font-size: 3rem;
    font-weight: 400;
    margin-top: 120px;
    margin-left: 20px;
    color: var(--accent-color);
}

header #into-slider-quote {
     margin-top: 1px;
     margin-left: 20px;
}

@media (max-width: 500px){
    header .banner h1 {
    margin-left: 20px;
}

header #into-slider-quote {
     margin-top: -5px;
     margin-left: 20px;
     width: 120px
}
}

#posters .poster-item img{
    display: block;
    width: 100%;
    border: 1px solid transparent;
}

#posters .poster-item img:hover {
  border: 1px solid grey;
}

main h2{
    font-size: 20px;
    display: flex;
    justify-content: center;
    padding-top: 5px;
    padding-bottom: 5px;
    font-weight: 400;
}

main #posters h3{
     font-size: 15px;
    display: flex;
    justify-content: center;
    padding-top: 5px;
    padding-bottom: 10px;

}

@media (min-width: 500px) {
    main #posters {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-gap: 10px;
}
}

@media (min-width: 660px) {
    main #posters {
        grid-template-columns: 1fr 1fr 1fr;
}
}

@media (min-width: 980px) {
    main #posters {
        grid-template-columns: 1fr 1fr 1fr 1fr;
}
}


.reviews h2{
    font-size: 20px;
    display: flex;
    justify-content: center;
    padding-top: 5px;
    padding-bottom: 20px;
    font-weight: 400;
}

.review-item img{
    display: block;
    width: 100%;
}

.reviewer-name{
    font-size: 12px;
    font-weight: 400;
}

.reviewer-quote{
    font-size: 12px;
}

.review-item p{
    display: flex;
    justify-content: center;
    text-align: center;
}

@media (min-width: 500px) {
    main #reviews-back {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-gap: 50px;
}
}

footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: #ffffff;
    background-image: linear-gradient(315deg, #ffffff 0%, #d7e1ec 74%);
    background-position: cover;
    
}

footer nav a{
    padding: 5px
}

footer nav a:hover {
    border: 1px solid crimson;
    height: 18px;
    
}

footer #logo-and-quote img {
    width: 120px;
 
}

footer #logo-and-quote {
    display: flex;
    flex-direction: column;
    padding-bottom: 5px

}

footer #social-media-links img{
    padding-top: 5px; 
    width: 2rem;
}

footer nav a {
    font-size: 1rem;
    color: var(--main-color);
    text-transform: uppercase;
    text-decoration: none;
    border: 1px solid transparent;

}

#credentials {
    font-size: 12px
}

@media (min-width: 750px) {
    footer {
        display: grid;
        grid-template-columns:1fr 2fr 1fr 1fr;
        grid-gap: 1px;
}
    #logo-and-quote img{
        grid-column: 1/4;
        grid-row: 1;
    }

    footer nav{
        grid-column: 2/4;
        grid-row: 1;
    }

    #social-media-links{
        grid-column: 3/4;
        grid-row: 1; 
    }

    footer #credentials{
        grid-column: 4/4;
        grid-row: 1;

}