@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200&display=swap');

#logo {
    width: 200px;
    margin: 0;
}

.top-menu{
    display: flex;
    justify-content: space-around;
    margin: 0;

}

:root {
    font-family: 'Montserrat', sans-serif;
    --main-color: black;
}

h1 {
    font-size: 18px;
    text-align: center;
}

.top-menu a {

}


#basket-logo {
    width: 40px;
    margin: 0;
}

/*
.header-navigation {
    display: flex;
    height: 100px;
    align-items: center;
    justify-content: space-between;
    padding-left: 40px;
    padding-right: 40px
}

header {
    font-family: 'Montserrat', sans-serif;
}

h1 {
    font-size: 17px;
}

#basket-logo {
    width: 40px;
    fill: red;
}

.top-menu {
    display: flex;
    justify-content: space-between;
    width: 400px
}

#into-slider-quote{
    text-align: left;
}

.banner {
  width: 1200px;
  height: 400px;
  background-image: url("/img/intro-slider-background.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100%;
  margin-left: 60px
  

}

h2{
    text-align: center;
}

.poster-item {
  display: inline-block;
  width: 200px;
  height: 100px;
  margin: 18px;
  padding-left: 40px;
  padding-right: 40px
}

.review-item {
  display: inline-block;
  width: 200px;
  height: 100px;
  margin: 20px;
  padding-left: 40px;
  padding-right: 40px
}

footer {
    display: flex;
    height: 100px;
    align-items: center;
    justify-content: space-between;
    padding-left: 40px;
    padding-right: 40px
}
*/